body {
    padding-top: 60px;
}

.component-section {
    margin-bottom: 60px;
}

/* Navbar styles */
.navbar + .navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin-top: 20px; /* Ajusta el espacio entre los navbars */
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-weight: 500;
}

/* Button styles */
.btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Form styles */
.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Card styles */
.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    color: #007bff;
}

/* Section header styles */
h2 {
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        margin-bottom: 30px;
    }
}

.carousel-indicators {
    position: absolute;
    bottom: -50px;
}